.container {
    max-width: 960px;
    margin: 0 auto;   
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 2px solid #8c8c8c;
}

.cabecalho h1 {
    margin-top: 40px;
}

.cabecalho a {    
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    color: #ff3355;
}

.cabecalho-search {
    margin-top: 40px;
    margin-right: 10px;
}

.cabecalho-search input {
    padding: 5px;
    border: 1px #8c8c8c solid;
    font-size: 1em;   
}

.btnSearch {
    padding: 7px;
    font-size: 1em;
    transition: 0.2s;
}

.btnSearch:hover {
    background-color: #ff3355;
    color: #fff;
}

.calendar {
    margin-left: 10px;
    font-size: 1.2em;
    color: #ff3355;
}

.calendar label:last-of-type {
    margin-left: 20px;
}

.btnCalendar {
    margin-left: 10px;
    padding: 5px;
    font-size: 1em;
    transition: 0.2s;
}

.btnCalendar:hover {
    background-color: #ff3355;
    color: #fff;
}

.date-input {
    border: 1px solid #8c8c8c;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px; 
    margin: 40px;
    background-color: #d9d9d9;      
}

.card-img img {
    width: 100%;
}



.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-title {
    margin-left: 10px;
    font-weight: bolder;
}

.card-subtitle {
    margin-left: 10px;
}

.price {
    margin-left: 10px;
}

.btnContainer {
    display: block;    
    margin: 40px;
}

.btn {
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #d9d9d9;
    transition: 0.2s;
}

.btn:hover {
    background-color: #ff3355;
    color: #fff;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    height: 10vh;
    border-top: 2px solid #8c8c8c;
}

.rodape p {
    margin-left: 10px;
    font-weight: bold;
    color: #ff3355;
}

.social-midia {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.social-midia > li {
    list-style: none;    
}

.social-midia > li > a > img {
    width: 30%;
}

@media (max-width: 560px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }

    .calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;       
    }

    .calendar input {
        margin-bottom: 10px;
        width: 80%;
    }
}

@media (max-width: 490px) {
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-content p {
        margin-bottom: 5px;
    }

    .card-title {
        margin: 5px;
    }

    .rodape {
        flex-direction: column;        
    }

    .rodape p {
        margin-top: 10px;
    }
    
    .social-midia li {
        margin-top: 10px;
    }

    .social-midia li:last-child {
        margin-left: 30px;
    }

    .social-midia > li > a > img {
        width: 100%;        
    }
}
